# Виртуальное окружение
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
db.sqlite3
*.sqlite3
*.log
media/
static/

# Переменные окружения
.env

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Сборки/дистрибутивы
dist/
build/
*.egg-info/
EOF
