{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex flex-column flex-lg-row align-items-lg-center row-gap-3 column-gap-5">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/favicon.svg' %}" class="img-thumbnail border" width="40" height="40" alt="Icon">
            <span>World of Games</span>
        </a>

        <form class="d-flex w-100 w-lg-auto" action="#" role="search">
            <input class="form-control me-2" type="search" name="q" placeholder="Как выполнить квест..." aria-label="Search"/>
            <button class="btn btn-outline-info" type="submit">Поиск</button>
        </form>

        {% if user.is_authenticated %}
            <a href="{% url 'ask' %}" class="d-flex w-100 w-lg-auto justify-content-center justify-content-lg-start" style="text-decoration: none;">
                <button class="btn btn-outline-success w-100 w-lg-auto" type="button">Задать вопрос</button>
            </a>
        {% else %}
            <button class="btn btn-outline-success w-100 w-lg-auto" type="button" disabled title="Войдите, чтобы задать вопрос">
                Задать вопрос
            </button>
        {% endif %}

        <div class="d-flex align-items-center gap-3 w-100 w-lg-auto justify-content-center justify-content-lg-end">
            
            {% if user.is_authenticated %}
                <div>
                    {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" class="rounded-circle border" width="50" height="50" alt="Account avatar">
                    {% else %}
                        <img src="{% static 'img/person.svg' %}" class="rounded-circle border" width="50" height="50" alt="Account avatar">
                    {% endif %}
                </div>
                <div class="d-flex flex-column text-center text-lg-start">
                    <div class="content__name">{{ user.profile.nickname|default:user.username }}</div>
                    <div class="content__links">
                        <a href="{% url 'profile' %}" class="text-dark">Настройки профиля</a>
                        <form action="{% url 'logout' %}" method="POST" class="d-inline p-0 m-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link text-dark text-decoration-none p-0 m-0">Выход</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="d-flex align-items-center gap-3 w-100 w-lg-auto justify-content-center justify-content-lg-end">
                    <a href="{% url 'login' %}" class="text-dark text-decoration-none fw-medium">Вход</a>
                    <span class="text-muted">|</span>
                    <a href="{% url 'signup' %}" class="text-dark text-decoration-none fw-medium">Регистрация</a>
                </div>
            {% endif %}
            
        </div>
    </div>
</nav>